@model IEnumerable<Lab_03.WebProject.Models.Category>

@{
    ViewData["Title"] = "Category List";
}

<h2>Categories</h2>

<a class="btn btn-outline-warning mb-3" asp-action="Add">Add Category</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-light me-2" asp-action="Details" asp-route-id="@category.Id">
                            <i class="fa fa-eye"></i> View
                        </a>
                        <a class="btn btn-warning me-2" asp-action="Update" asp-route-id="@category.Id">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@category.Id">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
